:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #1e293b;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

h2, p {
  margin: 0;
  font-size: 15px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #020617;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 100px;
}

button:hover {
  border-color: #646cff;
}

select {
    min-width: 60px;
    text-align: center;
}
