.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.cell-free {
    background-color: #add8e6;
}

.cell-free:hover {
    background-color: #affaff;
}

.cell-occupied {
    background-color: rgba(39, 39, 39, 0.9);
}

.cell-occupied:hover {
    background-color: rgba(69, 69, 69, 0.9);
}

.cell-neighbour {
    background-color: #96f8ff;
}

.cell-neighbour:hover {
    background-color: #54f4ff;
}


.cell-fired {
    background-color: gray;
}

.cell-fired:hover {
    background-color: rgb(147, 147, 147);

}

.cell-destroyed {
    background-color: rgb(255, 122, 122);
}

.cell-destroyed:hover {
    background-color: rgb(255, 94, 94);
}

