#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 3em;
}

.ship-count-selector {
    display: flex;
    justify-content: space-between;
}

.board {
    display: flex;
    padding: 5px;
}

.board-container {
    display: flex;
    gap: 100px;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}