#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board-row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.cell-free {
  background: #add8e6;
}

.cell-ship {
  background: #000;
}